.card {
  aspect-ratio: 2.2/3; /* aspect ratio of a real card */
}
.container-fluid {
  margin-top: 10rem;
}
.elements {
  font-size: 7rem;
}
.suitInCard {
  line-height: 75%;
  line-height: 85%;
}
.align-self-end {
  transform: rotate(0.5turn);
}
